body{
    background-color: #260101;
}
#products{
    width: 80%;
    height: 600px;
    margin: 100px auto;
    background-color: whitesmoke;
    text-align: center;
}
.product{
    width: 200px;
    height: 200px;
    background-color: #9fcdff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 20px;
    border: 2px double black;
    border-radius: 20px;
    display: inline-block;
    font-size: 25px;
    padding-top: 80px;
    color: whitesmoke;
    text-shadow: 3px 3px black;
    text-align: center;
}
.img_star{
    width: 30px;
}
.inp_customer_comment{
    width: 45%;
    height: 150px;
}
